@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

$version: "0.0.1";
/* 
	Version FrameWork: #{$version}.
	CSS FrameWork: http://ui-margin.github.io
	Author: Dubium
	Telegram: @Dubium
*/

// Begin function
	@import "components/function";
// End function

// Begin align
	@import "components/align";
// End align

// Begin badge
	@import "components/badge";
// End badge

// Begin buttons
	@import "components/buttons";
// End buttons

// Begin container
	@import "components/container";
// End container

// Begin display
	@import "components/display";
// End display

// Begin float
	@import "components/float";
// End float

// Begin layout
	@import "components/layout";
// End layout

// Begin opacity
	@import "components/opacity";
// End opacity

// Begin shadow
	@import "components/shadow";
// End shadow

// Begin typography
	@import "components/typography";
// End typography

// Begin z-index
	@import "components/z-index";
// End z-index