.text-left {text-align: left;}

.text-center {text-align: center;}

.text-right {text-align: right;}

.text-justify {text-align: justify;}

.vertical-top {vertical-align: top;}

.vertical-text-top {vertical-align: text-top;}

.vertical-middle {vertical-align: middle;}

.vertical-bottom {vertical-align: bottom;}

.vertical-text-bottom {vertical-align: text-bottom;}