.block				{display: block;}
.hidden				{display: none;}
.inline-flex		{display: inline-flex;}
.inline-grid		{display: inline-grid;}
.subgrid			{display: subgrid;}

@media (max-width: 543px) {
	.xs\:block			{display: block !important;}
	.xs\:hidden			{display: none !important;}
	.xs\:inline-flex	{display: inline-flex !important;}
	.xs\:inline-grid	{display: inline-grid !important;}
	.xs\:subgrid		{display: subgrid !important;}
}
@media (min-width: 544px) and (max-width: 767px) {
	.sm\:block			{display: block !important;}
	.sm\:hidden			{display: none !important;}
	.sm\:inline-flex	{display: inline-flex !important;}
	.sm\:inline-grid	{display: inline-grid !important;}
	.sm:subgrid			{display: subgrid !important;}
}
@media (min-width: 768px) and (max-width: 992px) {
	.md\:block			{display: block !important;}
	.md\:hidden			{display: none !important;}
	.md\:inline-flex	{display: inline-flex !important;}
	.md:inline-grid		{display: inline-grid !important;}
	.md\:subgrid		{display: subgrid !important;}
}
@media (min-width: 993px) and (max-width: 1199px) {
	.l\:block			{display: block !important;}
	.l\:hidden			{display: none !important;}
	.l\:inline-flex		{display: inline-flex !important;}
	.l\:inline-grid		{display: inline-grid !important;}
	.l\:subgrid			{display: subgrid !important;}
}
@media (min-width: 1200px) and (max-width: 1599px) {
	.lg\:block			{display: block !important;}
	.lg\:hidden			{display: none !important;}
	.lg\:inline-flex	{display: inline-flex !important;}
	.lg\:inline-grid	{display: inline-grid !important;}
	.lg:subgrid			{display: subgrid !important;}
}
@media (min-width: 1600px) {
	.xl\:block			{display: block !important;}
	.xl\:hidden			{display: none !important;}
	.xl\:inline-flex	{display: inline-flex !important;}
	.xl:inline-grid		{display: inline-grid !important;}
	.xl\:subgrid		{display: subgrid !important;}
}