.flexbox {
	display: flex;
	flex-wrap: wrap;
}
%flexbox-column {
	position: relative;
	width: 100%;
	padding-right: ($flexbox-columns / 2);
	padding-left: ($flexbox-columns / 2);
}
@mixin make-flex($size, $flexbox-columns) {
	flex: 0 0 percentage($size / $flexbox-columns);
	max-width: percentage($size / $flexbox-columns);
}
@for $i from 1 through $flexbox-columns {
	.flex-#{$i},
	.flex {
		@extend %flexbox-column;
	}
}
.flex {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
}
@for $i from 1 through $flexbox-columns {
	.flex-#{$i} {
		@include make-flex($i, $flexbox-columns);
	}
}
@each $screen, $layout in $screen-layout {
	@for $i from 1 through $flexbox-columns {
		.#{$screen}\:flex-#{$i}, 
		.#{$screen}\:flex {
			@extend %flexbox-column;
		}
	}
	@media screen and (min-width: $layout) {
		.#{$screen}\:flex {
			flex-basis: 0;
			flex-grow: 1;
			max-width: 100%;
		}
		.#{$screen}\:flex-auto {
			flex: 0 0 auto;
			width: auto;
			max-width: none;
		}
		@for $i from 1 through $flexbox-columns {
			.#{$screen}\:flex-#{$i} {
				@include make-flex($i, $flexbox-columns);
			}
		}
	}
}