.float-left		{float: left;}
.float-right	{float: right;}
.float-none		{float: none;}

.clear:after,
.content:after,
.container-small:after,
.container:after,
.container-expand:after,
.container-fluid:after {
	display: block;
	content: "";
	clear: both;
}