.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	grid-gap: 15px;
}
@for $t from $grid-rows through 1 {
	@for $i from 1 through $grid-rows {
		.grid-column-#{$t}-#{$i} {
			grid-column: #{$t} / #{$i};
		}
		.grid-row-#{$t}-#{$i} {
			grid-row: #{$t} / #{$i};
		}
		.grid-row-auto-#{$i} {
			grid-row: auto / #{$i};
		}
		.grid-column-auto-#{$i} {
			grid-column: auto / #{$i};
		}
	}
}
@for $i from 1 through $grid-columns {
	.grid-#{$i} {
		grid-column: span $i;
	}
	.grid-row-#{$i} {
		grid-row: span $i;
	}
}
@each $screen, $layout in $screen-layout {
	@media screen and (min-width: $layout) {
		@for $t from $grid-rows through 1 {
			@for $i from 1 through $grid-rows {
				.#{$screen}\:grid-column-#{$t}-#{$i} {
					grid-column: #{$t} / #{$i};
				}
				.#{$screen}\:grid-row-#{$t}-#{$i} {
					grid-row: #{$t} / #{$i};
				}
				.#{$screen}\:grid-row-auto-#{$i} {
					grid-row: auto / #{$i};
				}
			}
		}
		@for $i from 1 through $grid-columns {
			.#{$screen}\:grid-#{$i} {
				grid-column: span $i;
			}
			.#{$screen}\:grid-row-#{$i} {
				grid-row: span $i;
			}
		}
	}
}