*, ::after, ::before {
	box-sizing: border-box;
}

.flex-row							{ flex-direction: row; }
.flex-column						{ flex-direction: column; }
.flex-row-reverse					{ flex-direction: row-reverse; }
.flex-column-revers					{ flex-direction: column-reverse; }

.flex-wrap							{ flex-wrap: wrap; }
.flex-nowrap						{ flex-wrap: nowrap; }
.flex-wrap-reverse					{ flex-wrap: wrap-reverse; }

.grid-auto-rows						{ grid-auto-rows: auto; }
.grid-flow-row						{ grid-auto-flow: row; }
.grid-flow-column					{ grid-auto-flow: column; }
.grid-flow-row-dense				{ grid-auto-flow: row dense; }
.grid-flow-col-dense				{ grid-auto-flow: column dense; }

.justify-content-start				{ grid-template-columns: repeat(12, auto); }
.justify-content-start				{ justify-content: start; }

.justify-content-end				{ grid-template-columns: repeat(12, auto); }
.justify-content-end				{ justify-content: end; }

.justify-content-start				{ justify-content: flex-start; }
.justify-content-end				{ justify-content: flex-end; }
.justify-content-center				{ justify-content: center; }

.justify-content-center				{ grid-template-columns: repeat(12, auto); }
.justify-content-center				{ justify-content: center; }

.justify-content-stretch			{ grid-template-columns: repeat(12, auto); }
.justify-content-stretch			{ justify-content: stretch; }

.justify-content-space-between		{ justify-content: space-between; }

.justify-content-space-around		{ justify-content: space-around; }

.justify-content-space-between		{ grid-template-columns: repeat(12, auto); }
.justify-content-space-between		{ justify-content: space-between; }

.justify-content-space-around		{ grid-template-columns: repeat(12, auto); }
.justify-content-space-around		{ justify-content: space-around; }

.justify-content-space-evenly		{ grid-template-columns: repeat(12, auto); }
.justify-content-space-evenly		{ justify-content: space-evenly; }

.justify-items-start				{ justify-items: start; }
.justify-items-end					{ justify-items: end; }
.justify-items-center				{ justify-items: center; }
.justify-items-stretch				{ justify-items: stretch; }

.justify-self-start					{ justify-self: start; }
.justify-self-end					{ justify-self: end; }
.justify-self-center				{ justify-self: center; }
.justify-self-stretch				{ justify-self: stretch; }
	
.align-items-start					{ align-items: start; }
.align-items-end					{ align-items: end; }
.align-items-start					{ align-items: flex-start; }
.align-items-end					{ align-items: flex-end; }
.align-items-center					{ align-items: center; }
.align-items-stretch				{ align-items: stretch; }
.align-items-baseline				{ align-items: baseline; }

.align-content-start				{ align-content: start; }
.align-content-end					{ align-content: end; }
.align-content-start				{ align-content: flex-start; }
.align-content-end					{ align-content: flex-end; }
.align-content-center				{ align-content: center; }
.align-content-space-between		{ align-content: space-between; }
.align-content-space-around			{ align-content: space-around; }
.align-content-stretch				{ align-content: stretch; }
.align-content-space-evenly			{ align-content: space-evenly; }

.align-self-start					{ align-self: start; }
.align-self-end						{ align-self: end; }
.align-self-start					{ align-self: flex-start; }
.align-self-end						{ align-self: flex-end; }
.align-self-center					{ align-self: center; }
.align-self-stretch					{ align-self: stretch; }

.align-self-auto					{ align-self: auto; }
.align-self-baseline				{ align-self: baseline; }